@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=latin-ext');

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   background: #1f2427;
   color: #fff;
}

.container {
   background: #2b2e39;
   margin: 0 auto;
   width: 80%;
   min-width: 600px;
   padding: 14px;
   border-radius: 14px;
   margin-top: 14px;
}

.item {
   background: #343744;
   border-radius: 10px;
   padding: 14px;
   margin-bottom: 7px;
}

.form {
   display: flex;
   justify-content: space-between;
   border: 2px solid #343744;
   background: #232644;
   border-radius: 10px;
   padding: 5px;
   &__button {
      background: #232632;
      color: #00a7fa;
      width: 80px;
      height: 32px;
      font-size: 1.7rem;
      border: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__input {
      padding: 5px;
      font-size: 1.7rem;
      background: #232632;
      color: #d3d4d6;
      width: 100%;
      margin-right: 7px;
      border: 0px;
   }
}

.doneToDo {
   color: rgb(79, 252, 79);
   text-decoration: line-through;
}
